@font-face {
	font-family: 'MyriadPro';
	font-display: swap;
	font-weight: 700;
	src: url('./myriad-pro/myriadpro-bold.woff2') format('woff2'), /* Default */
		url('./myriad-pro/myriadpro-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./myriad-pro/myriadpro-bold.svg#myriadpro-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro';
	font-display: swap;
	font-weight: 400;
	src: url('./myriad-pro/myriadpro-regular.woff2') format('woff2'), /* Default */
		url('./myriad-pro/myriadpro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./myriad-pro/myriadpro-regular.svg#myriadpro-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

:root {
	--myriad-pro-font-family: 'MyriadPro';
}

body.elementor-page {
	--e-global-typography-primary-font-family: var(--myriad-pro-font-family);
	--e-global-typography-secondary-font-family: var(--myriad-pro-font-family);
	--e-global-typography-text-font-family: var(--myriad-pro-font-family);
	--e-global-typography-accent-font-family: var(--myriad-pro-font-family);
}

.myriad-pro-font-family,
body,
h1, h2, h3, h4, h5, h6,
.rs-heading .title-inner .title,
.rs-heading .title-inner .title span.watermar,
.rs-heading .title-inner .title span.watermark-animate,
.rs-heading.style11 .sub-text,
.menu-area .navbar ul li a,
.rs-services1 .services-title,
.readon,
.rs-team-grid.team-style5 .team-item .team-title {
	font-family: var(--myriad-pro-font-family), sans-serif;
}

.counter-top-area .rs-counter-list .count-text .rs-counter {
	font-family: var(--myriad-pro-font-family), sans-serif !important;
}
